@model JobPortalApplication.Models.State

@{
    ViewData["Title"] = "EditState";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>EditState</h1>

<h4>State</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditState">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StateId" />
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
            <select asp-for="CountryId" class="form-control" id="countrySelect">
        <option value="">--Select Country--</option>
        @foreach (var country in ViewBag.Countries)
        {
            <option value="@country.CountryId" data-countryid="@country.CountryId">@country.CountryName</option>
        }
    </select>                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
