@model JobPortalApplication.Models.Users.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}


 <div class="card mb-3 mt-3" style="max-width: 400px; margin: 0 auto;">

                <div class="card-body"  style="width:400px;">   
                    <form asp-action="ChangePassword" method="post" class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserId">User ID:</label>
            <input asp-for="UserId" class="form-control" readonly />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CurrentPassword">Current Password:</label>
            <input asp-for="CurrentPassword" type="password" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">Confirm Password:</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
    </form>
</div>
</div>
