 @model JobPortalApplication.Models.Users.UserModel

@{
    ViewData["Title"] = "Register Page";
   Layout = "~/Views/Shared/_Layout_login.cshtml";


}






       <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">

                </a>

              </div><!-- End Logo -->


               <div class="card mb-3" style="max-width: 600px; margin: 0 auto;">

                <div class="card-body"  style="width:600px;">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create Your  Profile </h5>
                    <p class="text-center small">Enter your  details to create account</p>
                  </div>

                   <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Country</label>
               <select asp-for="CountryId" class ="form-control" name="CountryId" id="CountryId">

                                              
                                            
                </select>               
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label">State</label>

                
             <select asp-for="StateId" class ="form-control" name="StateId">
                     <option value="">--Select State--</option>

       
                </select>               
               
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label">City</label>

                
             <select asp-for="CityId" class ="form-control" name="CityId">
                     <option value="">--Select City--</option>

                   
                </select>   
                
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="utype" class="control-label">You are looking For...</label>
                <select asp-for="utype"  id="utype" class="form-control">
                                        <option selected disabled value="">Choose...</option>
                                        <option value="1">Getting a Job</option>
                                        <option value="2">Hiring a Person</option>
                                    </select>
              
                <span asp-validation-for="utype" class="text-danger"></span>
            </div>                    
            <div class="form-group mt-3">
                <input type="submit" value="Next"  class="btn btn-primary" />
            </div>
        </form>

                </div>
              </div>

            

            </div>
          </div>
        </div>

      </section>

    </div>
  </main> 
      
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
     

}


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

