@model JobPortalApplication.Models.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}
<html>
    <head>
        <style>
            a:hover{
                color:blue;
            }

            </style>
    </head>
    <body>
    <main>
<div class="container">
     <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="~/img/logo.png" alt="">
                  <span class="d-none d-lg-block">JOBBOARD</span>
                </a>
              </div>

   <div class="card mb-3">

                <div class="card-body" style="width:400px;">
                <div class="pt-4 pb-2 mt-3">
                    <h5 class="card-title text-center pb-0 fs-4">Registration Successfully Done!!</h5>
                  </div>    
                     
              <div class="d-flex justify-content-center gap-2 mt-5">
                <a class="btn btn-primary p-3" 
                asp-action="Index" asp-controller="Home">Back to Home</a>

                <a class="btn btn-primary p-3" 
                asp-action="Login" asp-controller="Login">Login</a>
              </div>
           
        </div>
    </div>
      </div>
          </div>
        </div>

      </section>
</div>
</main>

       
</body>
</html>
